h1{
    font-size: clamp(20px, 3vw, 50px);
}
.cont{
    animation: transitionIn 0.75s;
}
@keyframes transitionIn {
    from{
        opacity: 0;
        transform:roteteX(-18deg);
    }
    to{
        opacity:10;
        transform:roteteX(-18deg);
    }
    
}
body{
    background-color:azure;
}
.done {
    margin-left:520px;
    font-size: 20px;
    height:auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    align-content:center;
    width:500px;
    color:blue;
    background-color:whitesmoke;
    border-radius: 30px;
    border:5px solid darkblue;
}
