body{
	height:1640px;
	width: 1500px;
	background: gainsboro;
	border: solid whitesmoke 10px;
	border-radius: 33px;
}

.head{
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-top: 30px;
	color: lavender;
	background: slateblue;
	height: auto;
	width: 1440px;
	font-size: 30px;
}
.circle{
	border-radius: 50%;
	height: 200px;
	border: solid whitesmoke 10px;
	position: fixed;
	left: 80%;
	bottom: 65%;
	width: 200px;
	color: lavender;
	background: slateblue;
}
.circle img.work{
	border-radius: 50%;
	height: 150px;
	width: 200px;
	position: absolute;
	top: 10%;
	
}
.circle img{
	border-radius: 50%;
	height: 200px;
	position: absolute;
	top: 60%;
	width: 200px;
	color: lavender;
	background: slateblue;
}

.body1 {
	height:auto;
	width: auto;
	background-color: gainsboro;
	color: blue;
	font-size: 24px;
}
.body1 ul li {
	padding-top: 8px;
}

.foot{
	position: absolute;
	top: 200%;
	height:auto;
	width: 1440px;
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	padding-right: 30px;
	background:gray;
	font-size: 20px;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}

.foot table tr th {
	padding-left: 200px;
}
.foot table tr td {
	padding-left: 200px;

}
.foot table tr td a{
	text-decoration: none;
	color: black;
}
.foot table tr td a:hover{
	text-decoration: none;
	color: whitesmoke;

}